@import "tailwindcss";

::selection {
  background: rgba(0, 194, 209, 0.2);
  color: inherit;
}

* {
  scrollbar-width: thin;
}

.main-content {
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .main-content {
    padding-bottom: 30px;
  }
}
